services:
    db:
        image: mysql:latest
        container_name: investments
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: mypassword
            MYSQL_USER: myuser
            MYSQL_PASSWORD: mypassword
            MYSQL_DATABASE: mydatabase
        ports: [ '3307:3306' ]
        healthcheck:
            test: mysqladmin ping -h 0.0.0.0 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
            interval: 5s
            timeout: 5s
            retries: 5
            start_period: 10s

    app:
        build:
            context: .
            dockerfile: ./docker/Dockerfile
        container_name: investments_app
        command: python manage.py runserver 0.0.0.0:8000
        volumes:
            - ./:/app
        ports:
            - "8000:8000"
        environment:
            - OPENAI_API_KEY=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
            - OPENAI_MODEL=gpt-3.5-turbo
        depends_on:
            db:
                condition: service_healthy
